.cell {
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.cell.top {
	border-top: 1px solid black;
}
.cell.left {
	border-left: 1px solid black;
}

.field.cell:hover {
	background: yellow;
}
.field.cell.possible:hover {
	background: red;
	cursor: pointer;
}

#field {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.cell span.token {
	position: relative;
	top: 4px;
	margin-left: -50%;
	margin-right: -50%;
	padding: 0px;
	width: 0px;
	height: 0px;
	border: 15px solid red;
	border-radius: 15px;
	display: inline-block;
}

.cell span.token.two {
	border-color: green;
}

.cell.possible span {
	top: 14px;
	border-color: black;
	border-width: 5px;
	border-radius: 5px;
}

.cell.header {
	background: #EEE;
}

.cell.header span.header {
	position: relative;
	top: 10px;
}