.cell {
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.cell.top {
	border-top: 1px solid black;
}
.cell.left {
	border-left: 1px solid black;
}

.field.cell:hover {
	background: yellow;
}
.field.cell.possible:hover {
	background: red;
	cursor: pointer;
}

div.field.cell.hover span.token {
	/*background: grey;
	top: 3px;
	border-width: 16px;
	border-radius: 16px;*/
	opacity: 0.5;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

div.field.cell.one.hover span {
	border-color: blue;
}

div.field.cell.two.hover span {
	border-color: red;
}

#field {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.cell span.token {
	position: relative;
	margin-left: -50%;
	margin-right: -50%;
	padding: 0px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-color: transparent;
	top: 4px;
	border-radius: 15px;
	border-width: 15px;
	display: inline-block;
	transform: scale(0);
	transition-duration: 0.5s;
	/*transition-timing-function: linear;*/
	transition-property: border-width, border-color, top, border-radius, transform;
}

.cell.one span.token {
	/*
	top: 4px;
	border-radius: 15px;
	border-width: 15px;
	*/
	border-color: red;
	transform: scale(1);
}

.cell.two span.token {
	transform: scale(-1, 1);
	border-color: blue;
}

.cell.three span.token {
	transform: scale(1);
	border-top-color: red;
	border-bottom-color: red;
	border-left-color: blue;
	border-right-color: blue;
}

.cell.possible span.token {
	border-color: black;
	transform: scale(0.3);
	/*
	top: 14px;
	border-width: 5px;
	border-radius: 5px;*/
}

div.cell.lastMove {
	background: #CFC;
}

div.cell.lastMove span.token {
	transition-duration: 0.8s;
	transition-timing-function: cubic-bezier(0,.63,.14,2); /*cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
	/*
	top: 2px;
	border-width: 17px;
	border-radius: 17px;
	*/
}

.cell.start {
	cursor: pointer;
}

.cell.header {
	background: #EEE;
}

.cell.header span.header {
	position: relative;
	top: 10px;
}

.cell.header.wide {
	width: 80px;
}

#winInfo {
	display: none;
}