.tab {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #999;
  cursor: pointer;
  border-radius: 8px;
  margin: 0px 4px;
}

.tab.checked {
  background: red;
  color: white;
}

pre {
  font-family: 'Hasklig', 'Courier New', Courier, monospace;
  font-size: 14px;
  margin: 0;
}

.main {
  display: flex;
}


.col {
  border-radius: 16px;
  margin: 8px;
  padding: 8px;
}
.left {
  flex: 3;
  background: #EEE;
}

.right {
  flex: 5;
  background: #DDD;
}

h2 {
  background: #CCC;
  margin: 4px;
  padding: 8px;
  border-radius: 8px;
}

.disp {
  background: #FFF;
  margin: 4px;
  padding: 8px;
  border-radius: 8px;
}

.disp pre:hover {
  background: #EEE;
}

.ref {
  font-weight: bold;
}

.var {
  font-style: italic;
}

.cmd {
  width: 100%;
  border-radius: 4px;
  padding: 4px;
}